@model JobBoard.Models.Board

@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Job Board";
}

<div id="search">
    <p>Here goes the search form</p>
</div>
<div id="result">
    <p>Here goes the results</p>
    @foreach (JobPost jp in Model.JobPosts) {
        @jp.Id
        @jp.Title
    }
</div>
