<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Job Board</title>
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="~/vendor/bootstrap/4.0.0/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/vendor/fontawesome/5.0.9/css/fontawesome-all.min.css" rel="stylesheet">*@
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper" class="">
        <!-- Navigation -->
        <header class="navbar bg-white navbar-static-top">
            <a class="navbar-brand navbar-btn mr-0 mr-md-2" asp-controller="Home" asp-action="Index">Job Miner</a>
            <div class="">
                <ul class="nav nav-pills navbar-btn navbar-nav navbar-left">
                    @*<li class="nav-item">
                        <a class="nav-link" href="#">My Posts</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Create">Post Job</a>
                    </li>*@
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-user fa-fw "></i> User Profile</a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="page-wrapper">
            @{
            //var hastitle = (ViewBag?.Title ? true : false);
            if (!(ViewBag.Title == null))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@ViewBag.Title</h1>
                    </div>
                </div>
        }
            }
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script src="~/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/bootstrap/4.0.0/bootstrap.bundle.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>*@
</body>
</html>
